.ce-scrapp-button-group, .scrapp-button-holder {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.15);
    background-clip: padding-box;
    overflow: hidden;
    margin: 0;
    border-right: none;
    border-left: none;
    padding:15px;
    box-sizing: border-box;
}
a.scrap-companies-btn{
    float:right !important;
    color: #0084BE !important;
    font-size:16px;
    font-weight: bold;
    border:1px solid #0084BE;
    text-align: center;
    padding:10px;
    border-radius: 3px;
}
.scrapp-button-holder a:visited:active {
 background-color: #0084BE !important;
     color:#fff !important;
     text-decoration: none;
     outline: none;
}
a.scrap-companies-btn:hover,a.scrap-companies-btn:focus,a.scrap-companies-btn:active {
     background: #0084BE !important;
     color:#fff !important;
     text-decoration: none;
     outline: none;
}
.preloader-bg {
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51,.7);
    position: absolute;
    z-index: 10000111113;
    display: block;
    top: 0;
    left: 0;
}
.scrapped-company {
   background:  #d2d9f5 !important;
}
.cancel-scrapping-btn {
    float: right !important;
    color: #0084BE !important;
    font-size:16px;
    font-weight: bold;
    border:1px solid #0084BE;
    text-align: center;
    padding:10px;
    border-radius: 3px;
}

/* Styles go here */

.ce-scrapper-modal {
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51,.7);
    position: absolute;
    z-index: 10000111113;
    top: 0;
    left: 0;
}
#ce-scrapped-data-downloading-modal {
    display: none;
}

.ce-scrapper-modal-content {
  width:620px;
  height:auto;
  /*max-height:400px;*/
  overflow-y:auto;
  background:#fff;
  position:absolute;
  left:50%;
  transform: translate(-50%,200px);
  color:#333;
   font-family: Source Sans Pro,Helvetica,Arial,sans-serif,Hiragino Kaku Gothic Pro,Meiryo,Hiragino Sans GB W3,Noto Naskh Arabic,Droid Arabic Naskh,Geeza Pro,Simplified Arabic,Noto Sans Thai,Thonburi,Dokchampa,Droid Sans Thai,Droid Sans Fallback,-apple-system,'.SFNSDisplay-Regular',Heiti SC,Microsoft Yahei,Segoe UI;
}
.ce-scrapped-popup-description-area {
background: linear-gradient(to left, rgba(12, 137, 150, 0.95), rgba(0, 132, 191, 0.95));
padding:60px 30px;
color:#fff;
text-align:center;
}
.ce-scrapped-popup-description-area h3 {
    line-height: 30px;
    color: #fff;
    font-size: 24px;
   
}
.ce-scrapped-button-area {
  padding:60px 30px;
  text-align:center;
}
.ce-csv-download-btn,
.save-selected-profiles-btn,
.download-searched-profile {
    background-color: #0084bf;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    font-family: inherit;
    overflow: hidden;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    
}

.ce-csv-download-cancel-btn, .ce-btn,
.cancel-searched-profile-download {
    background-color: #fff;
    border: 2px solid #0084bf;
    border-radius: 2px;
    box-sizing: border-box;
    color: #0084bf;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    font-family: inherit;
    overflow: hidden;
    padding: 8px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    margin-left:15px;   
}

.ce-alert-success {
    padding: 15px;
    margin: 20px 0;
    background: #119a2e;
    width: auto;
    display: block;
    color: #fff;
 }
/* STYLING  POPUP OF EXTENSION FOR BROWSER ACTION */
#popup-app {
    background: #0e5998;
}
.app {
    min-width:350px;
}
.app>.row {
    margin-bottom:0px;
    
}
.big-icon {
    font-size: 48px;
    color: #0e5998;
}

.profiles-grid {
    max-height: 400px;
    overflow-y: auto;
}
h3.ce-title {
    margin-left: 15px;
    margin-bottom: 15px;
    margin-left: 0;
    font-size: 24px;
}
table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border-color: gray;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border-bottom-width: 2px;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #ddd;
}
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
th {
    text-align: left;
}
td, th {
    padding: 0;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #ddd;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.ce-popup-large {
    width: 70%;
}


input[type=checkbox].profile-checkbox ,input[type=checkbox].profile-checkbox-all{
    opacity: 1 !important;
    position: relative !important;
    vertical-align: middle;
    font-size:20px;
    margin: 4px 6px !important;
}